

    <section class="header-post" style="background: linear-gradient( rgba(36, 36, 36, .4), rgba(36, 36, 36, .6) ), url('assets/img/post.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 300px;">
        <div class="main-msg">
            <p class="wow fadeInDown">Post</p>
        </div>
    </section>

    <section class="body-post">
        <div class="container">
            <div class="content">
                <p class="post-date">16 jul 2019</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fuga quos exercitationem libero, facere delectus vel ducimus dolore! Culpa quae temporibus, dolore consequuntur nulla accusamus soluta unde similique sed ut?</p>
            </div>
            <a href="blog.html" class="btn">Leia mais</a>
        </div>
    </section>

    <footer>
		<div class="footer">
			<div class="container">
				<div class="content">
					<div class="about footer-item">
						<h4>Sobre</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti rem vero modi provident vel consequuntur quia reiciendis accusantium quasi aut alias.</p>
					</div>
					<div class="pages footer-item">
						<h4>Páginas</h4>
						<a href="index.html"><p>Home</p></a>
						<a href="sobre.html"><p>Sobre</p></a>
						<a href="blog.html"><p>Blog</p></a>
						<a href="contato.html"><p>Contato</p></a>
					</div>
					<div class="contact footer-item">
						<h4>Contato</h4>
						<p>2130 Fulton St, San Francisco, CA 94117, EUA</p>
						<p>contato@email.com</p>
						<p>+55 021 2412-3333</p>
						<div class="social">
							<a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
							<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="copyright">
			<p>La Cafétéria 2019 - Nenhum direito reservado</p>
		</div>
	</footer>
	
</body>
<script src="assets/js/jquery-3.4.1.js"></script>
<script src="assets/js/menu-hamburguer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>new WOW().init();</script>
</html>