.contact-us h2 {
    padding: 130px 0 50px 0;

    font-family: $secondary;
    color: $dark-blue;
    text-align: center;
    font-size: 2.250em;
}

.group-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 900px;
    margin: 10px auto;

    font-family: $secondary;
    color: $dark-blue;
    font-size: 1em;
    text-align: left;
}

.group-item {
    input {
    padding: 5px;
    }
    textarea {
        padding: 5px;
        min-height: 130px;
    }
}

.btn {
    padding: 10px 20px;
    margin: 30px auto 100px 390px;
    
    background: $dark-blue;

    color: $white;
    font-family: $secondary;
    font-size: 1.5em;

    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background: $white;
    color: $dark-blue;

}