.our-services{
    h2 {
        padding: 100px;
        padding-bottom: 30px;

        color: $dark-blue;
        font-size: 2.250em;
        text-align: center;
        font-family: $secondary;
    }
    p {
        color: $dark-blue;
        font-size: 1em;
        font-family: $primary;
    
        padding-bottom: 50px;
    }  
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 100px;
}

.service-card {
    width: 350px;
    height: 320px;
    padding: 20px;
    background: $light-gray;
    margin: 10px;
}

.service-card {
    .category {
        color: $dark-blue;
        font-size: 1.5em;
        text-align: center;
        font-family: $secondary;
    }
    ul {
        color: $dark-blue;
        font-size: 1.125em;
        text-align: left;
        font-family: $primary;
    
        list-style: disc;
        list-style-position: inside;
    }
}